* {
  outline: none;
}

html {
  overflow-y: scroll;
  scrollbar-color: #1E88E5 #E0F7FA;
}

body {
  margin: 0;
  font-family: Tahoma;
  background-color: rgb(240, 250, 255);
}

.navbar {
  background: linear-gradient(to right, #87CEEB, #1E90FF);
  overflow: hidden;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  user-select: none;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar .nav-link {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 5px;
  margin-right: 8px;
}

.navbar a:hover,
.navbar a.router-link-active {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar .logo {
  float: left;
  padding: 0 20px;
  margin: 0;
  height: 50px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 350px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 24px;
}
