* {
  outline: none;
}

html {
  overflow-y: scroll;
  scrollbar-color: #1E88E5 #E0F7FA;
}

body {
  margin: 0;
  font-family: Tahoma;
  background-color: rgb(240, 250, 255);
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 350px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 24px;
}